$black: #222225;

$lg-left-color: #616C81;
$lg-right-color: #7D949F;
$lg-floor-color: #7C5C4E;


$dk-left-color: #414564;
$dk-right-color: #50556E;
$dk-floor-color: #512F39;


$code: 'Source Code Pro', monospace;
$atari: 'Press Start 2P', cursive;
$xs: 1.2rem;
$sm: 1.4rem;
$md: 1.6rem;
$lg: 1.8rem;
$xlg: 2rem;

@mixin flex($direction: null, $justify: null, $align: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        background-color: $black;
        color: white;
        font-family: $code;
        font-size: $sm;

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.header {
    height: 6vh;
    @include flex();
    color: white;
    font-weight: 700;

    &_right {
        @include flex(null, left, top);
        gap: 3.2rem;
        width: 50%;
        padding: 0 2rem;
        background-color: $lg-right-color;

        &-theme {
            width: 2.8rem;
            cursor: pointer;

            img {
                width: 4rem;
            }
        }
    }

    &_left {
        @include flex(null, left, center);
        background-color: $lg-left-color;
        width: 50%;
        padding: 0 0 0 2rem;
    }

}

.main {
    &_hero {
        line-height: 0;
        background: linear-gradient(to right, $lg-left-color 50%, $lg-right-color 50%);
        @include flex(null, center, center);

        img {
            width: 300px;
        }
    }
}

main div {
    height: 70vh;
    background-color: $lg-floor-color;
}

.dark-mode {
    &-left {
        background-color: $dk-left-color;
    }

    &-right {
        background-color: $dk-right-color;
    }

    &-hero {
        background: linear-gradient(to right, $dk-left-color 50%, $dk-right-color 50%);
    }

    &-floor {
        background-color: $dk-floor-color;
    }
}