// --------INITIAL CONFIG--------------

$black: #222225;

$lg-left-color: #616C81;
$lg-right-color: #7D949F;
$lg-floor-color: #7C5C4E;


$dk-left-color: #414564;
$dk-right-color: #50556E;
$dk-floor-color: #512F39;


$code: 'Source Code Pro', monospace;
$atari: 'Press Start 2P', cursive;
$xs: 1.2rem;
$sm: 1.4rem;
$md: 1.6rem;
$lg: 1.8rem;
$xlg: 2rem;

@mixin flex($direction: null, $justify: null, $align: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// --------GENERAL SELECTORS--------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        background-color: $black;
        color: white;
        font-family: $code;
        font-size: $sm;
        min-block-size: 100vh;
    }

    .primary-button {
        text-decoration: none;
        color: white;
        box-sizing: content-box;
        padding-block: 1rem;
        padding-inline: 2rem;
        background-color: $dk-right-color;
        text-align: center;
    }

    .primary-button:hover {
        border: 2px solid white;
        text-decoration: underline;
    }
}

// -----------STYLE PAGES----------------

.index-bd {
    display: grid;
    grid-template-rows: 3fr 4fr;

    &_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        overflow: hidden;

        img {
            block-size: 75%;
            position: absolute;
            inset-block-end: 0;
            inset-inline-start: 50%;
            transform: translate(-50%);
        }

        &-l {
            background-color: $dk-left-color;

            p {
                font-family: $atari;
                text-align: center;
                line-height: 2rem;
                padding-inline-end: 2rem;
                color: $dk-left-color;
                background-color: rgba(255, 255, 255, 0.3);
            }
            
            p:hover{
                background-color: $dk-left-color;
                color: white;
            }
        }

        &-r {
            background-color: $dk-right-color;
        }
    }

    &_main {
        background-color: $dk-floor-color;
        display: grid;
        place-content: center;
        padding-inline: 6rem;
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 24rem));

        a {
            svg {
                margin-inline-end: 0.6rem;
            }
        }
    }
}